.App {
  text-align: center;
  padding: 8px;
}
.sideMargin {
  margin: 0 10px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.authBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 45vh;
}
.app-bar{
  position: fixed !important; 
  max-width: 960px;
  transition: cubic-bezier(.07,.64,.82,1) 250ms;
  /* transition: all 1000ms ease; */
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
.fixBar { 
  top: 0px;
  width: 96%;  
}
.hideBar {    
  top: -55px;
  width: 85%;  
};

.material-app-bar div {
  margin-top: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
