.phraseList {
    max-width: 480px;
    margin: 0 auto;
    padding-bottom: calc(100vh * 0.55);
}

.itemPhrase {
    padding: 7px;
    background-color: #1988e7;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.itemTranslate {
    text-align: right;
    padding: 7px 20px;
    background-color: #fbe9e7;
    opacity: 0;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -ms-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
}

.phrase-box {
    border: 1px solid #ccc;
    padding: 0;
    margin:7px 0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius: 5px;
}